<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Profile - OJT Portal</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<header class="header">
   
   <section class="flex">

      <a href="/homepage" class="logo">OJT Portal</a>


      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

   </section>

</header>   

<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="/images/pic-1.jpg" class="image" alt="">
      <h3 class="name"><%= firstName + " " + lastName; %></h3>
      <p class="role">Teacher</p>
      <a href="/profile" class="btn">view profile</a>
   </div>

   <nav class="navbar">
      <a href="/homepage"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="/manage-students"><i class="fa-solid fa-briefcase"></i><span>Manage Students</span></a>
      <a href="/company-details"><i class="fa-solid fa-door-open"></i><span>Company Details</span></a>
      <a href="/logout"><i class="fa-solid fa-door-open"></i><span>Log Out</span></a>
    </nav>

</div>

<section class="user-profile">

   <h1 class="heading">your profile</h1>

   <div class="info">

      <div class="user">
         <img src="/images/pic-1.jpg" alt="">
         <h3><%= firstName + " " + lastName; %></h3>
         <p>Teacher</p>
      </div>
   

      <form class="profile-form" action="/change-password" method="post" onsubmit="changePassword(event)">
      <label class="profile-field">
         <span>First Name:</span><input name="firstName" type="text" value=<%= firstName %> disabled> 
      </label>
      <label class="profile-field">
         <span>Last Name:</span><input name="lastName" type="text" value=<%= lastName %> disabled> 
      </label>
      <label class="profile-field">
         <span>Email:</span><input name="email" type="text" value=<%= email %> disabled> 
      </label>
      <label class="profile-field">
         <span>ID:</span><input name="teacher-id" type="text" value=<%= teacherId %> disabled> 
      </label>
      <label class="profile-field">
      <span>Current Password:</span>
         <input class="current-password" name="currentPassword" type="password" placeholder="Enter Current Password" required maxlength="20">
         <i class="fa fa-eye-slash current-password-toggle" onclick="toggleCurrentPasswordVisibility()"></i>
      </label>
      <label class="profile-field">
      <span>New Password:</span>
         <input class="password-input" name="password" type="password" placeholder="Your password" required maxlength="20">
         <i class="fa fa-eye-slash password-toggle" onclick="togglePasswordVisibility()"></i>
      </label>
      <label class="profile-field">
         <span>Confirm Password:</span>
         <input class="confirm-password-input" name="confirmPassword" type="password" required maxlength="20" placeholder="Confirm password">
         <i class="fa fa-eye-slash confirm-password-toggle" onclick="toggleConfirmPasswordVisibility()"></i>
      </label>
         <input class="change-password-btn" type="submit" value="Change Password" name="submit">
      </form>
<script src="/js/script.js"></script>

<script>

   var currentPassword = document.querySelector(".current-password")
   var currentPasswordToggle = document.querySelector(".current-password-toggle");
   var password = document.querySelector(".password-input");
   var confirmPassword = document.querySelector(".confirm-password-input");
   var passwordToggle = document.querySelector(".password-toggle");
   var confirmPasswordToggle = document.querySelector(".confirm-password-toggle");

   function toggleCurrentPasswordVisibility() {
   var currentPassword = document.querySelector(".current-password");
   var toggle = document.querySelector(".current-password-toggle");
   
   if (currentPassword.type === "password") {
    currentPassword.type = "text";
    toggle.classList.remove('fa-eye-slash');
    toggle.classList.add('fa-eye');
  } else {
    currentPassword.type = "password";
    toggle.classList.add('fa-eye-slash');
    toggle.classList.remove('fa-eye');
  }
}

function togglePasswordVisibility() {
  var password = document.querySelector(".password-input");
  var toggle = document.querySelector(".password-toggle");
  if (password.type === "password") {
    password.type = "text";
    toggle.classList.remove('fa-eye-slash');
    toggle.classList.add('fa-eye');
  } else {
    password.type = "password";
    toggle.classList.add('fa-eye-slash');
    toggle.classList.remove('fa-eye');
  }
}

function toggleConfirmPasswordVisibility() {
  var confirmPassword = document.querySelector(".confirm-password-input");
  var toggle = document.querySelector(".confirm-password-toggle");
  if (confirmPassword.type === "password") {
    confirmPassword.type = "text";
    toggle.classList.remove('fa-eye-slash');
    toggle.classList.add('fa-eye');
  } else {
    confirmPassword.type = "password";
    toggle.classList.add('fa-eye-slash');
    toggle.classList.remove('fa-eye');
  }
   }

   password.onchange = validatePassword;
   confirmPassword.onkeyup = validatePassword;

   function validatePassword(){
      if(password.value != confirmPassword.value) {
      confirmPassword.setCustomValidity("Passwords Don't Match");
   } else {
      confirmPassword.setCustomValidity('');
   }
   }

   function handlePasswordChangeResponse(response) {
      console.log(response);
            if (response.message) {
               alert(response.message); 
            } else {
               alert(response.message); 
               location.reload(); 
            }
         }

         
         function changePassword(event) {
            event.preventDefault(); 
            const currentPassword = document.querySelector(".current-password").value;
            const newPassword = document.querySelector(".password-input").value;
            const confirmPassword = document.querySelector(".confirm-password-input").value;
            
            fetch("/change-password", {
               method: "POST",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({
                  currentPassword: currentPassword,
                  password: newPassword,
                  confirmPassword: confirmPassword
               }),
            })
            .then((response) => {
               if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
               }
               return response.json();
            })
            .then(handlePasswordChangeResponse)
            .catch((error) => {
               console.error("Error:", error);
            });
         }

</script>

<footer class="footer">

   &copy; Copyright @ 2023 by <span>The Croods</span> | All rights reserved!

</footer>

</body>
</html>